// below, color variables

$color-green-btn: #22c55e;
$color-green-btn-border: #22b85e;
$color-green-btn-active: #7dd2a3;

$color-red-btn: #ef4444;
$color-red-btn-border: #ef1b44;
$color-red-btn-active: #eb8e99;

$color-yellow-btn: #eab308;
$color-yellow-btn-border: #d79e0e;
$color-yellow-btn-active: #dbbf86;

$color-blue-btn: #3b82f6;
$color-blue-btn-border: #3b6ef6;
$color-blue-btn-active: #71a0f8;

$color-white: #ffffff;
$color-red: #ed000b;
$color-navy: #111827;
$color-grey-light: #d9d9d9;
$color-grey-medium: #3c3e3d;
$color-grey-dark: #2f2b2f;
$color-grey-darker: #1c0003;
