.button {
  background: $color-grey-light;
  color: $color-grey-lighter;
  text-transform: uppercase;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  height: 3rem;
  font-size: 1.4rem;

  &--main {
    width: 10rem;
    margin: 0 0.5rem;
  }

  &--sub {
    width: 7rem;
    background: $color-grey-dark;

    &:active {
      background: $color-grey-lighter;
      color: $color-grey-dark;
    }

    &:disabled {
      color: $color-grey-light;
      cursor: not-allowed;

      &:active {
        background: $color-grey-dark;
      }
    }
  }
}
