/* below, styles for color buttons, including active states and border settings @ game screen */
@import './../settings/colors';
@import '../utils/breakpoints';

.color-btn {
  width: 13rem;
  height: 13rem;
  border: 0.6rem solid;

  @include breakpoint(tablet) {
    width: 21rem;
    height: 21rem;
    border-width: 1rem;
  }

  &:hover {
    cursor: pointer;
  }

  &--green {
    background-color: $color-green-btn;
    border-color: $color-green-btn-border;
    border-radius: 0.8rem 0.8rem 5rem 0.8rem;

    &.active {
      background-color: $color-green-btn-active;
    }
  }

  &--red {
    background-color: $color-red-btn;
    border-color: $color-red-btn-border;
    border-radius: 0.8rem 0.8rem 0.8rem 5rem;

    &.active {
      background-color: $color-red-btn-active;
    }
  }

  &--yellow {
    background-color: $color-yellow-btn;
    border-color: $color-yellow-btn-border;
    border-radius: 0.8rem 5rem 0.8rem 0.8rem;

    &.active {
      background-color: $color-yellow-btn-active;
    }
  }

  &--blue {
    background-color: $color-blue-btn;
    border-color: $color-blue-btn-border;
    border-radius: 5rem 0.8rem 0.8rem 0.8rem;

    &.active {
      background-color: $color-blue-btn-active;
    }
  }
}
