/* below, styles and animation for the home colored corners @ home screen */
@import '../settings/colors';
@import '../utils/breakpoints';

.home-bg {
  position: absolute;
  width: 31rem;
  height: 39rem;
  border-radius: 0.8rem;
  pointer-events: none;

  @include breakpoint(tablet) {
    width: 50rem;
    height: 62rem;
  }

  &__top-left,
  &__top-right,
  &__bottom-left,
  &__bottom-right {
    position: absolute;
    width: 7rem;
    height: 7rem;
    animation: pulse 2s infinite;

    @include breakpoint(tablet) {
      width: 10rem;
      height: 10rem;
    }
  }

  &__top-left {
    top: 0;
    left: 0;
    border-radius: 0.8rem 0.8rem 8rem 0.8rem;
    background: $color-green-btn;
    transform-origin: top left;
  }

  &__top-right {
    top: 0;
    right: 0;
    border-radius: 0.8rem 0.8rem 0.8rem 8rem;
    background: $color-red-btn;
    transform-origin: top right;
  }

  &__bottom-left {
    bottom: 0;
    left: 0;
    border-radius: 0.8rem 10.6rem 0.8rem 0.8rem;
    background: $color-yellow-btn;
    transform-origin: bottom left;
  }

  &__bottom-right {
    bottom: 0;
    right: 0;
    border-radius: 8rem 0.8rem 0.8rem 0.8rem;
    background: $color-blue-btn;
    transform-origin: bottom right;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
