/* below, style for mute/unmute button @ game screen */
@import '../settings/colors';

.sound-btns {
  background: none;
  border: none;
  width: 4rem;
  height: 4rem;

  &__icon {
    width: 100%;
    height: 100%;
    padding: 0.4rem;
    border-radius: 50%;
    cursor: pointer;

    &--red {
      background-color: $color-red-btn;
      border: 3px solid $color-red-btn-border;
    }

    &--green {
      background-color: $color-green-btn;
      border: 3px solid $color-green-btn-border;
      display: none;
    }
  }
}
