.status-screen {
  width: 100%;
  background: $color-grey-darker;
  border: 0.3rem solid $color-grey-dark;
  border-radius: 0.8rem;
  min-height: 2.5rem;

  &__text {
    width: 100%;
    color: $color-red;
    text-align: center;
  }
}
