/* below, global reset and base styles including box-sizing, font size, and text selection. */
@import '../settings/colors';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // base font size to 10px, to facilitate using REM unit. (1rem = 10px/16px = 62.5%)
}

body {
  box-sizing: border-box;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-navy;
}

::selection {
  color: $color-green-btn;
  background-color: $color-blue-btn-border;
}
