// @import './../settings/typography';

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-navy;
}

.wrapper {
  width: 29rem;
  height: 36rem;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
}

.game-wrapper {
  height: 100%;
  padding: 2rem;
}

.game-bg {
  width: 25rem;
  height: 32rem;
  border-radius: 0.8rem;
  background: $color-grey-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.game-btns {
  width: 23rem;
  height: 23rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.heading-primary {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--sub {
    width: 70%;
    text-align: center;
  }
}

.level-screen {
  position: absolute;
  left: calc(50% - (4.5rem / 2));
  top: calc(50% - (8.5rem / 2));
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
