/* below, typography styles for headings and list. */
@import '../settings/fonts';
@import '../settings/colors';
@import '../utils/breakpoints';

.heading-primary {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--main {
    width: 100%;
    text-align: center;
    font-family: $orbitron;
    font-size: 3.6rem;
    letter-spacing: 0.4rem;
    font-weight: bold;
    color: $color-grey-dark;

    @include breakpoint(tablet) {
      font-size: 5rem;
      letter-spacing: 0.7rem;
    }
  }

  &--sub {
    width: 70%;
    text-align: center;
    font-family: $roboto;
    font-size: 1.6rem;
    font-weight: 300;
    color: $color-grey-dark;

    @include breakpoint(tablet) {
      font-size: 1.9rem;
    }
  }
}

.heading-secondary {
  font-family: $orbitron;
  font-size: 2.6rem;
  letter-spacing: 0.4rem;
  font-weight: bold;
  color: $color-grey-dark;

  @include breakpoint(tablet) {
    font-size: 3.5rem;
    letter-spacing: 1rem;
  }

  &--sub {
    // font-family: $roboto;
    // font-size: 1.5rem;
    // font-weight: 300;
    // color: $color-grey-dark;
  }
}

.heading-tertiary {
  font-family: $orbitron;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.3rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: rgba($color-white, 0.2);

  @include breakpoint(tablet) {
    font-size: 2.2rem;
    letter-spacing: 0.5rem;
  }
}

.rules-list {
  font-family: $roboto;
  color: $color-grey-light;
  width: 86%;
  list-style: none;
  margin: 1rem 0;

  &__item {
    text-align: center;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    font-weight: 200;

    @include breakpoint(tablet) {
      font-size: 2rem;
      padding-bottom: 01rem;
    }

    & strong {
      font-size: 1.4rem;

      @include breakpoint(tablet) {
        font-size: 2.2rem;
      }
    }
  }

  &__item:last-child {
    padding-bottom: 0;
  }
}

// .btn--sub {
//   font-family: $roboto;
//   font-size: 1.2rem;
//   font-weight: 500;
//   color: $color-white;
// }
