@import './../settings/fonts';
@import './../settings/colors';

.heading-primary {
  &--main {
    font-family: $orbitron;
    font-size: 3rem;
    font-weight: bold;
    color: $color-grey-dark;
  }
  &--sub {
    font-family: $roboto;
    font-size: 1.2rem;
    font-weight: 300;
    color: $color-grey-dark;
  }
}

.level-screen {
  &__text {
    font-family: $orbitron;
    font-size: 1.6rem;
  }
}
