/* below, global reset and base styles including box-sizing, font size, and text selection. */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

/* below, typography styles for headings, status text, rules list, and buttons. */
.heading-primary--main {
  font-family: "Orbitron", sans-serif;
  font-size: 3.6rem;
  letter-spacing: 0.4rem;
  font-weight: bold;
  color: #2f2b2f;
}
.heading-primary--sub {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #2f2b2f;
}

.heading-secondary {
  font-family: "Orbitron", sans-serif;
  font-size: 2.6rem;
  letter-spacing: 0.4rem;
  font-weight: bold;
  color: #2f2b2f;
}
.heading-secondary--sub {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #2f2b2f;
}

.heading-tertiary {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.2);
}

.status-screen__text {
  font-family: "Orbitron", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.12rem;
}

.rules-list {
  font-family: "Roboto", sans-serif;
  color: #3c3e3d;
  width: 86%;
  list-style: none;
  margin: 1rem 0;
}
.rules-list__item {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  font-weight: 200;
}
.rules-list__item strong {
  font-size: 1.4rem;
}
.rules-list__item:last-child {
  padding-bottom: 0;
}

.level-screen__text {
  font-family: "Orbitron", sans-serif;
  font-size: 1.9rem;
}

.btn--sub {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
}

/* below, utility classes */
.hide {
  display: none;
}

/* below, styles for color buttons, including active states and border settings @ game screen */
.color-btn {
  width: 13rem;
  height: 13rem;
  border: 0.6rem solid;
}
.color-btn:hover {
  cursor: pointer;
}
.color-btn--green {
  background-color: #22c55e;
  border-color: #22b85e;
  border-radius: 0.8rem 0.8rem 5rem 0.8rem;
}
.color-btn--green.active {
  background-color: #68e596;
}
.color-btn--red {
  background-color: #ef4444;
  border-color: #ef1b44;
  border-radius: 0.8rem 0.8rem 0.8rem 5rem;
}
.color-btn--red.active {
  background-color: #f7a2a2;
}
.color-btn--yellow {
  background-color: #eab308;
  border-color: #d79e0e;
  border-radius: 0.8rem 5rem 0.8rem 0.8rem;
}
.color-btn--yellow.active {
  background-color: #fad45e;
}
.color-btn--blue {
  background-color: #3b82f6;
  border-color: #3b6ef6;
  border-radius: 5rem 0.8rem 0.8rem 0.8rem;
}
.color-btn--blue.active {
  background-color: #9dc0fa;
}

/* below, style for circular screen @ game screen */
.level-screen {
  width: 5rem;
  height: 5rem;
  background: #1c0003;
  border: 0.3rem solid #2f2b2f;
  border-radius: 50%;
}
.level-screen__text {
  color: #ed000b;
}

/* below, style for top screen @ game screen */
.status-screen {
  width: 100%;
  background: #1c0003;
  border: 0.3rem solid #2f2b2f;
  border-radius: 0.8rem;
  min-height: 3rem;
}
.status-screen__text {
  width: 100%;
  color: #ed000b;
  text-align: center;
}

/* below, styles for the bottom buttons container @ game screen. */
.bottom-btns {
  width: 100%;
  height: 3rem;
}

/* below, styles for buttons, including main (home screen) and secondary (game screen) types. */
.button {
  background: #3c3e3d;
  color: #d9d9d9;
  text-transform: uppercase;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  height: 3rem;
  font-size: 1.4rem;
}
.button--main {
  width: 10rem;
  margin: 0 0.5rem;
}
.button--sub {
  width: 7rem;
  background: #2f2b2f;
}
.button--sub:disabled {
  color: #3c3e3d;
  cursor: not-allowed;
}
.button--sub:disabled:active {
  background: #2f2b2f;
}

/* below, styles and animation for the home colored corners @ home screen */
.home-bg {
  width: 32rem;
  height: 40rem;
  border-radius: 0.8rem;
  pointer-events: none;
}
.home-bg__top-left, .home-bg__top-right, .home-bg__bottom-left, .home-bg__bottom-right {
  width: 7rem;
  height: 7rem;
  animation: pulse 2s infinite;
}
.home-bg__top-left {
  border-radius: 0.8rem 0.8rem 8rem 0.8rem;
  background: #22c55e;
  transform-origin: top left;
}
.home-bg__top-right {
  border-radius: 0.8rem 0.8rem 0.8rem 8rem;
  background: #ef4444;
  transform-origin: top right;
}
.home-bg__bottom-left {
  border-radius: 0.8rem 10.6rem 0.8rem 0.8rem;
  background: #eab308;
  transform-origin: bottom left;
}
.home-bg__bottom-right {
  border-radius: 8rem 0.8rem 0.8rem 0.8rem;
  background: #3b82f6;
  transform-origin: bottom right;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* below, style for mute/unmute button @ game screen */
.sound-btns {
  background: none;
  border: none;
  width: 4rem;
  height: 4rem;
}
.sound-btns__icon {
  width: 100%;
  height: 100%;
  padding: 0.4rem;
  border-radius: 50%;
  cursor: pointer;
}
.sound-btns__icon--red {
  background-color: #ef4444;
  border: 3px solid #ef1b44;
}
.sound-btns__icon--green {
  background-color: #22c55e;
  border: 3px solid #22b85e;
  display: none;
}

/* below, styles and animation for the close button @ rules screen */
.close-btn {
  width: 2.1rem;
  height: 2.1rem;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: #3c3e3d;
  color: #d9d9d9;
  border: none;
  padding-left: 0.1rem;
}

/* below, layout and positioning for main game components, including containers, buttons, and background elements. */
body {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111827;
}

.wrapper {
  width: 32rem;
  height: 40rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
}

.home-btns {
  margin-top: 3rem;
}

.game-bg {
  width: 29rem;
  height: 37rem;
  border-radius: 0.8rem;
  background: #3c3e3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.game-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.heading-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-primary--main {
  width: 100%;
  text-align: center;
}
.heading-primary--sub {
  width: 70%;
  text-align: center;
}

.level-screen {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.bottom-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.sound-btns {
  position: absolute;
  bottom: -5rem;
  right: 0rem;
}
.sound-btns__icon {
  position: absolute;
  top: 0;
  left: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container--hide {
  display: none;
}

.rules-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.rules-container--hide {
  display: none;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.game-container--hide {
  display: none;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-bg {
  position: absolute;
}
.home-bg__top-left, .home-bg__top-right, .home-bg__bottom-left, .home-bg__bottom-right {
  position: absolute;
}
.home-bg__top-left {
  top: 0;
  left: 0;
}
.home-bg__top-right {
  top: 0;
  right: 0;
}
.home-bg__bottom-left {
  bottom: 0;
  left: 0;
}
.home-bg__bottom-right {
  bottom: 0;
  right: 0;
}

/* below, styles for home, rules, and game containers. */
.home-container {
  height: 100%;
  width: 100%;
}

.rules-container {
  height: 100%;
  width: 100%;
}

.game-container {
  height: 100%;
  width: 100%;
}
