*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.heading-primary--main {
  font-family: "Orbitron", sans-serif;
  font-size: 3.6rem;
  letter-spacing: 0.4rem;
  font-weight: bold;
  color: #2f2b2f;
}
.heading-primary--sub {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #2f2b2f;
}

.heading-secondary {
  font-family: "Orbitron", sans-serif;
  font-size: 2.6rem;
  letter-spacing: 0.4rem;
  font-weight: bold;
  color: #2f2b2f;
}
.heading-secondary--sub {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #2f2b2f;
}

.heading-tertiary {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.2);
}

.status-screen__text {
  font-family: "Orbitron", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.12rem;
}

.rules-list {
  font-family: "Roboto", sans-serif;
  color: #3c3e3d;
  width: 86%;
  list-style: none;
  margin: 1rem 0;
}
.rules-list__item {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  font-weight: 200;
}
.rules-list__item strong {
  font-size: 1.4rem;
}
.rules-list__item:last-child {
  padding-bottom: 0;
}

.level-screen__text {
  font-family: "Orbitron", sans-serif;
  font-size: 1.9rem;
}

.btn--sub {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
}

.hide {
  display: none;
}

.color-btn {
  width: 13rem;
  height: 13rem;
  border: 0.6rem solid;
}
.color-btn:hover {
  cursor: pointer;
}
.color-btn--green {
  background-color: #22c55e;
  border-color: #22b85e;
  border-radius: 0.8rem 0.8rem 5rem 0.8rem;
}
.color-btn--green.active {
  background-color: #68e596;
}
.color-btn--red {
  background-color: #ef4444;
  border-color: #ef1b44;
  border-radius: 0.8rem 0.8rem 0.8rem 5rem;
}
.color-btn--red.active {
  background-color: #f7a2a2;
}
.color-btn--yellow {
  background-color: #eab308;
  border-color: #d79e0e;
  border-radius: 0.8rem 5rem 0.8rem 0.8rem;
}
.color-btn--yellow.active {
  background-color: #fad45e;
}
.color-btn--blue {
  background-color: #3b82f6;
  border-color: #3b6ef6;
  border-radius: 5rem 0.8rem 0.8rem 0.8rem;
}
.color-btn--blue.active {
  background-color: #9dc0fa;
}

.level-screen {
  width: 5rem;
  height: 5rem;
  background: #1c0003;
  border: 0.3rem solid #2f2b2f;
  border-radius: 50%;
}
.level-screen__text {
  color: #ed000b;
}

.status-screen {
  width: 100%;
  background: #1c0003;
  border: 0.3rem solid #2f2b2f;
  border-radius: 0.8rem;
  min-height: 3rem;
}
.status-screen__text {
  width: 100%;
  color: #ed000b;
  text-align: center;
}

.bottom-btns {
  width: 100%;
  height: 3rem;
}

.button {
  background: #3c3e3d;
  color: #d9d9d9;
  text-transform: uppercase;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  height: 3rem;
  font-size: 1.4rem;
}
.button:disabled {
  color: #3c3e3d;
}
.button--primary {
  width: 10rem;
  margin: 0 0.5rem;
}
.button--tertiary {
  width: 7rem;
  background: #2f2b2f;
}

body {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111827;
}

.wrapper {
  width: 32rem;
  height: 40rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
}

.home-btns {
  margin-top: 3rem;
}

.game-bg {
  width: 29rem;
  height: 37rem;
  border-radius: 0.8rem;
  background: #3c3e3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.game-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.heading-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-primary--main {
  width: 100%;
  text-align: center;
}
.heading-primary--sub {
  width: 70%;
  text-align: center;
}

.level-screen {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.bottom-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.close-icon {
  background: none;
  border: none;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}
.close-icon:hover {
  color: #3b82f6;
}

.home-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container--hide {
  display: none;
}

.rules-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.rules-container--hide {
  display: none;
}

.game-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container--hide {
  display: none;
}
