/* below, styles for home, rules, and game containers. */
.home-container {
  height: 100%;
  width: 100%;
}

.rules-container {
  height: 100%;
  width: 100%;
}

.game-container {
  height: 100%;
  width: 100%;
}
