/* below, layout and positioning for main game components, including containers, buttons, and background elements. */
@import '../settings/colors';

body {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-navy;
}

.wrapper {
  width: 32rem;
  height: 40rem;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
}

.home-btns {
  margin-top: 3rem;
}

.game-bg {
  width: 29rem;
  height: 37rem;
  border-radius: 0.8rem;
  background: $color-grey-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.game-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.heading-primary {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--main {
    width: 100%;
    text-align: center;
  }

  &--sub {
    width: 70%;
    text-align: center;
  }
}

.level-screen {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.bottom-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.sound-btns {
  position: absolute;
  bottom: -4rem;
  right: 0rem;

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--hide {
    display: none;
  }
}

.rules-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &--hide {
    display: none;
  }
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &--hide {
    display: none;
  }
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-bg {
  position: absolute;

  &__top-left,
  &__top-right,
  &__bottom-left,
  &__bottom-right {
    position: absolute;
  }

  &__top-left {
    top: 0;
    left: 0;
  }

  &__top-right {
    top: 0;
    right: 0;
  }

  &__bottom-left {
    bottom: 0;
    left: 0;
  }

  &__bottom-right {
    bottom: 0;
    right: 0;
  }
}
